.tmp
.DS_Store
.DS_Store?
.dpl/
./vscode
.vscode
client/.vscode
server/.vscode
server/node_modules
node_modules
client/node_modules
typings
client/typings
app/**/*.js
app/**/*.map
client/app/**/*.js
client/app/**/*.map
npm-debug.log
client/npm-debug.log
server/npm-debug.log